body {
    width: 100%;
    background-color: lightgray;
    margin: 1%;
}
#main_container {
    margin: 4px;
    background-color: lightgray;
}
header, footer {
    margin: 4px;
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 25px;
}
#middle-section { 
    margin: 4px;
    background-color: gray;
    /*display: flex;*/
}
#top-section {
    margin: 4px;
    background-color: rgba(211, 211, 211, 0.835);
    
}
#options-container{
    display: flex;
    flex-direction: row;
}
#options {
    border: 1px solid black;
    padding: 4px;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 1%;
    
}

#main-section {
    margin: 4px;
    background-color: cornflowerblue;
    width: 80%;
    padding: 2%;
    display: flex;
    flex-direction: column;
}
#table-render-space {
    background-color: blanchedalmond;
    padding: 2%;
}
#table-html-space {
    background-color: red;
    padding: 2%;
}
textarea {
    width: 100%;
}
table {
    background-color: white;
    border: 1px solid black;
    width: 100%;

}
td {
    border: 1px solid black;

}
